<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
  <connectionStrings>
      <add name="Hostname" connectionString="10.35.34.16:389"/>
    <add name="BaseDN" connectionString="cn=Users,DC=proxytest,DC=com"/>
    <add name="Username" connectionString="administrator"/>
    <add name="Password" connectionString="TG9uYW5kMTIzNCM="/>
    <add name="TopDN" connectionString="DC=proxytest,DC=com" />
      <add name="APIUsername" connectionString="admin"/>
    <add name="APIPassword" connectionString="UEBzc3cwcmQj"/>
  </connectionStrings>
	<appSettings>
		<!--Properties which map key=json attr name , value=AD attr name-->
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="First_Name" value="givenName" />
		<add key="Last_Name" value="sn" />
		<add key="Department" value="department" />
		<add key="Formatted_Phone" value="telephoneNumber" />
		<add key="Email" value="mail" />
		<add key="Member_Of" value="memberOf" />
		<add key="Display_Name" value="displayName" />
		<add key="Description" value="description" />
		<add key="Office" value="physicalDeliveryOfficeName" />
		<add key="Street" value="streetAddress" />
		<add key="PO_Box" value="postOfficeBox" />
		<add key="City" value="l" />
		<add key="State" value="st" />
		<add key="Zip_Code" value="postalCode" />
		<add key="Job_Title" value="title" />
		<add key="Company" value="company" />
		<add key="Manager" value="manager" />
		<add key="Employee_Type" value="employeeType" />
		<add key="Employee_Number" value="employeeNumber" />
		<add key="User_Principal_Name" value="userPrincipalName" />
		<add key="Expiration_Time" value="AccountExpirationDate" />
		<add key="SAM_Account_Name" value="mail" />

	</appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
 <system.serviceModel>
    <services>
      <service name="ADProvisioning.ADProvisioningService" behaviorConfiguration="serviceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="ADProvisioning.IADProvisioningService" behaviorConfiguration="web"> </endpoint>

      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <!--http enabled=false for REST which doesnt give wsdl file-->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>

</configuration>
